# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Python application

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flake8 pytest
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    - name: Lint with flake8
      run: |
        # stop the build if there are Python syntax errors or undefined names
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
    - name: Test with pytest
      run: |
        pytest
      
    - name: build docker image
        run |
          docker build -t ${{ secrets.DOCKER_IMAGE_NAME ]}:${{ github.sha }} .}
# Build Docker image
    - name: Build Docker image
        run: |
          docker build -t portfolio .
 
      # 5. Tag Docker image for ECR
    - name: Tag Docker image
        run: |
          docker tag ${{ env.IMAGE_NAME }}:latest ${{ env.ECR_REPO }}:latest
 
      # 6. Scan Docker image with Trivy
    - name: Scan Docker image with Trivy
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: ${{ env.ECR_REPO }}:latest
          format: table
          exit-code: '0' # fail workflow on critical/high vulnerabilities
            
      # 7. Push Docker image to ECR
    - name: Push Docker image to Amazon ECR
        run: |
          docker push ${{ env.ECR_REPO }}:latest


  ecs-deploy:
  needs: Build
  runs-on : ubuntu-latest
  steps:
    